body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.first-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
}

.first-section div {
    width: 900px;
}

.header h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
}

.hero-cat {
    width: 300px;
    height: auto;
    transform: scaleX(-1);
}

.header-content {
    display: flex;
    margin-top: 50px;
    margin-bottom: 70px;
}

.paragraph-button p {
    padding-right: 30px;
    font-size: 18px;
    color: #E5E7EB;

}

.paragraph-button {
    display: flex;
    flex-direction: column;
}

.sign-up {
    width: 100px;
    height: 30px;
    padding: 5px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: none;
}

.header-title {
    margin: 0;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.grids img{
    width: 150px;
    height: 150px;
    border-radius: 15%;
    border: 3px solid #3882F6;
}

.grids {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grids p {
    width: 150px;
}

.image-grid {
    display: flex;
    margin-bottom: 70px;
}

.second-section div {
    width: 900px;
}

.second-section {
    display: flex;
    justify-content: center;
}

.rand-info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.third-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.testimonial p {
    font-size: 26px;
    margin-bottom: 0;
    padding-top: 80px;
}

.testimonial {
    width: 750px;
}

.author {
    display: flex;
    justify-content: flex-end;
}

.author div {
    padding-bottom: 100px;
    font-size: 17px;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.container {
    background-color: #3882F6;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.container-content {
    width: 700px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.container-content div {
    display: flex;
    flex-direction: column;
}

.sign-up-button {
    width: 100px;
    height: 30px;
    padding: 5px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border-width: 2px;
    border: solid;
    border-color: #E5E7EB;
}

.second {
    display: flex;
    justify-content: center;
}

.action {
    color: #F9FAF8;
}

.last-sign-up {
    color: #F9FAF8;
    font-size: 14px;
}

.footer {
    height: 70px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 14px;
    display: flex;
    justify-content: center; 
    align-items: center;
}